/* LAYERS */ 
body {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

h2 {
    font-size: 2em;
    text-align: center; 
}
 h2 span {
    font-weight: 300;
 }

p {
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.4em ;
    font-size: 1.3em;
    width: 100%;
}
   
.row {
    width: 100%;
    padding: 30px 0 ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container { 
    width: 1120px;
    max-width: 90%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    width: 30%;
    background-color: transparent;
    border-top:8px solid #9e0b0f;
    margin: 0 auto;
    padding : 0;
}


/*  END LAYER */

/* HEADER */ 
.row-header {
    padding: 0;
}

.row-header-slider {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 360px;
    background-color: yellow;
    background-image: url(images/header-qualit-imprim-2.jpg);
    background-size: cover;
    background-position: center;
}

.row-header-wrapper {
    background-color: black;
} 

.row-header-content {
    width: 1920px;
    max-width: 90%;
    margin: auto;
    position: relative;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.logo-top {
    position: absolute;
    left: 20px;
    z-index: 999;
    top: -35px;
}

.nav-top { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-top ul {
    list-style: none;
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;  
    margin-right: 10    0px;
}

.nav-top ul li {
    margin: 0 20px;
    padding: 10px 10px;
}
.nav-top ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* END HEADER */

/* INTRODUCTION */

.row-introduction{ 
    background-color: white;
}


.container-introduction {
    padding: 20px 0px 10px 0;

}

/* END INTRODUCTION */ 


/* IMPRESSIONS */
.container-impressions {
    padding: 0 0 20px 0;
   

}
.images-impressions {
   
    display: grid ;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 50PX;
    position: relative;
}   

.images-impressions img {
    width: 100%;
    height: auto;
    /*object-fit: cover;*/
}

.titres-impressions {
    width: 170px;
    background-color: #9e0b0f;
    color: #ffffff ;
    margin: -30px auto 0 auto;    
    position: relative;
    text-align: center;
    padding: 10px 15px;
    font-size: 1.3em;
    

}


/* END IMPRESSIONS */


/* SUPPORT */

.container-support {

    padding: 0 0 20px 0;
   
}
.images-support {
    display: grid;
    grid-template-columns: 360px 360px; 
    grid-template-rows: auto;
    gap: 20px;
    position : relative;
    margin-top: 15px;
    margin-bottom: 50PX;

}
.images-support img{
    width: 100%;
    height: auto;

}
.titres-support{
    width: 170px;
    background-color: #9e0b0f;
    color:#ffffff;
    margin: -30px auto 0 auto;    
    position: relative;
    text-align: center;
    padding: 10px 15px;
    font-size: 1.3em;
}
/* END SUPPORT */



/* REFERENCE */

.images-references { 
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 90px;
    justify-items: center;
    gap: 8px;
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.images-references  img {
    width: 100%;
    height:auto;

}

.images-references .image-4 {
    object-fit: none;
}
/* END REFERENCE */


/* FOOOTER */

.row-footer {
    padding: 0;
}
.row-footer-wrapper {
    background-color: black;
    width: 100%;


.row-footer-content {
    position: relative;
}

}
.row-footer-content p {
    color: #ffffff;
    text-align: center;
}

.row-footer-content .images-footer {
    display:flex ;
    gap: 25px;
    justify-content: center;
    padding: 4px 0 7px 0;

}

.row-footer-content .politiques-footer {
    padding: 21px 0 0px 0;
    font-style:italic;
    font-size: 0.8em;
    text-align: center;
}
.politiques-footer p {
    display: inline-block; 
    width: auto;  
}

.logo-bot{
    position: absolute;
    left: 74px;
    z-index: 999;
    bottom: 100px;
}
.tiret:after {
    content: '';
    display: inline-block;
    height: 13px;
    width: 1px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0 5px;
}
/* END FOOTER */